<h1>Sermons#show</h1>
<p>Find me in app/views/sermons/show.html.erb</p>

<% @sermons.each do |sermon| %>
  <div>
    <h2><%= sermon.title %></h2>
    <p><%= sermon.date %></p>
    <a href="<%= sermon.video_url %>">Watch Now</a>
  </div>
<% end %>
